<template>
    <v-container>
        <v-data-table
            :headers="headers"
            :items="items"
            :loading="loading"
            hide-default-footer
            class="elevation-1"
        >
            <template v-slot:item.actions="{ item }">
                <v-btn router text
                       :to="{name: 'listConsumers', params: {'code': item['code']}}"
                       >
                    Consumers
                </v-btn>

            </template>
        </v-data-table>

        <v-fab-transition>
            <v-btn fixed bottom :right="true" fab color="primary" router
                   :to="{name: 'newCoupon'}">
                <v-icon>+</v-icon>
            </v-btn>
        </v-fab-transition>
    </v-container>

</template>
<script>
    import CouponService from "../../services/coupon";

    export default {
        data: function () {
            return {
                loading: true,
                items: [],
                headers: [
                    {
                        text: "Title",
                        align: 'justify',
                        sortable: true,
                        value: 'title'
                    },
                    {
                        text: "Code",
                        align: 'justify',
                        sortable: true,
                        value: 'code'
                    },
                    {
                        text: "Amount",
                        align: 'center',
                        sortable: true,
                        value: 'amount'
                    },
                    {
                        text: 'Limit',
                        align: 'center',
                        sortable: true,
                        value: 'redeem_limit'
                    },
                    {
                        text: "Used",
                        align: 'center',
                        sortable: true,
                        value: 'used_count'
                    },
                    {
                        text: "Expired",
                        align: 'center',
                        sortable: true,
                        value: 'is_expired'
                    },
                    {   text: 'Actions',
                        value: 'actions',
                        sortable: false
                    }
                ],
            }
        },

        async mounted () {
            this.loading = true
            this.items = await CouponService.list()
            this.loading = false
        },

        methods: {
            async editItem (item) {
                await this.$router.push({
                    name: 'Listconsumers',
                })
            },
        }
    }
</script>
