<template>
    <v-container>
        <v-data-table
            :headers="headers"
            :items="items"
            :loading="loading"
            hide-default-footer
            class="elevation-1"
        >
        </v-data-table>

        <v-fab-transition>
            <v-btn fixed bottom :right="true" fab color="primary" router
                   :to="{name: 'newCoupon'}">
                <v-icon>+</v-icon>
            </v-btn>
        </v-fab-transition>
    </v-container>
</template>

<script>
    import CouponService from "../../services/coupon";

    export default {
        data: function () {
            return {
                loading: true,
                items: [],
                headers: [
                    {
                        text: "Code",
                        align: 'justify',
                        sortable: true,
                        value: 'user.country_code'
                    },
                    {
                        text: "Phone",
                        align: 'justify',
                        sortable: true,
                        value: 'user.phone_number'
                    },
                    {
                        text: "At",
                        align: 'center',
                        sortable: true,
                        value: 'user.created_at'
                    },
                ],
            }
        },

        async mounted () {
            this.loading = true
            this.items = await CouponService.listConsumers(this.$route.params['code'])
            this.loading = false
        },

        methods: {
            isExpired: function (item) {
                return false;
            }
        }
    }
</script>
