<template>
    <v-container>
        <v-card outlined flat :loading="loading">
            <v-card-title class="text-h5 font-weight-light">New Coupon</v-card-title>
            <v-form @submit.prevent="submit" :disabled="submitting">
                <v-card-text>
                    <v-text-field
                        label="Title"
                        v-model.trim="coupon.title"
                        :validate="'required'"
                        outlined
                        required
                    ></v-text-field>
                    <v-text-field
                        label="Code"
                        v-model.trim="coupon.code"
                        :validate="'required'"
                        outlined
                        required
                        dir="ltr"
                    ></v-text-field>
                    <v-text-field
                        label="Redeem Limit"
                        type="number"
                        v-model.number="coupon.redeem_limit"
                        outlined
                    ></v-text-field>
                    <v-text-field
                        label="Duration Limit (Min)"
                        type="number"
                        v-model.number="coupon.duration_limit"
                        outlined
                    ></v-text-field>
                    <v-text-field
                        label="Amount"
                        type="number"
                        v-model.number="coupon.amount"
                        outlined
                    ></v-text-field>
                </v-card-text>
                <v-card-actions>
                    <v-btn :loading="submitting" color="primary" type="submit" outlined :block="$vuetify.breakpoint.xsOnly">
                        <v-icon :left="true">mdi-send</v-icon>
                        Create
                    </v-btn>
                </v-card-actions>
            </v-form>
        </v-card>
    </v-container>
</template>

<script lang="ts">
    import Vue from 'vue'
    import CouponService from '../../services/coupon'
    import {store} from '../../store';

    export default Vue.extend({
        data: function () {
            return {
                submitting: false,
                loading: true,
                coupon: {
                    title: '',
                    code: '',
                    redeem_limit: 0,
                    duration_limit: 0,
                    amount: 0,
                },
            }
        },
        watch: {
        },
        mounted: async function () {
            this.loading = false
        },
        methods: {
            submit: async function () {
                this.submitting = true
                try {
                    await CouponService.create(this.coupon)
                    await store.dispatch('addSuccessMessage', {title: 'Coupon created successfully'})

                    await this.$router.push({
                        name: 'couponList',
                    })
                } catch (e) {
                    await store.dispatch('addErrorMessage', {title: e.response.data['message']})
                }finally {
                    this.submitting = false
                }
            },
        },
    })
</script>
