<template>
    <v-container>
        <v-card outlined flat :loading="loading">
            <v-card-title class="text-h5 font-weight-light">Redeem Coupon</v-card-title>
            <v-form @submit.prevent="submit" :disabled="submitting">
                <v-card-text>
                    <v-text-field
                        label="Country Code"
                        v-model.trim="account.country_code"
                        :validate="'required'"
                        type="number"
                        outlined
                        required
                    ></v-text-field>
                    <v-text-field
                        label="Phone Number"
                        v-model.trim="account.phone_number"
                        :validate="'required'"
                        type="number"
                        outlined
                        required
                        dir="ltr"
                    ></v-text-field>
                    <v-text-field
                        label="Coupon Code"
                        v-model.number="coupon.code"
                        :validate="'required'"
                        outlined
                    ></v-text-field>
                </v-card-text>
                <v-card-actions>
                    <v-btn :loading="submitting" color="primary" type="submit" outlined
                           :block="$vuetify.breakpoint.xsOnly">
                        <v-icon :left="true">mdi-send</v-icon>
                        Redeem
                    </v-btn>
                </v-card-actions>
            </v-form>
        </v-card>
    </v-container>
</template>

<script lang="ts">
    import CouponService from "../../services/coupon";
    import AccountService from "../../services/account";
    import {store} from '../../store';

    export default {
        data: function () {
            return {
                submitting: false,
                loading: true,
                account: {
                    country_code: '',
                    phone_number: '',
                },
                coupon: {
                    code: ''
                }
            }
        },
        watch: {},
        mounted: async function () {
            this.loading = false
        },
        methods: {
            submit: async function () {
                this.submitting = true
                try {
                    let account = await AccountService.register(this.account)
                    store.commit('login', account);
                    await CouponService.redeem(account['id'], this.coupon.code)

                    let wallet = await AccountService.balance(this.account)

                    store.commit('setBalance', wallet['balance'])
                    await store.dispatch('addSuccessMessage', {title: 'Redeemed coupon successfully'})

                    await this.$router.push({
                        name: 'couponList',
                    })
                } catch (e) {
                    await store.dispatch('addErrorMessage', {title: e.response.data['message']})
                }
                finally {
                    this.submitting = false
                }
            },
        },
    }
</script>
