<template>
    <v-container>
        <v-data-table
            :headers="headers"
            :items="items"
            :loading="loading"
            hide-default-footer
            class="elevation-1"
        >
        </v-data-table>

        <v-fab-transition>
            <v-btn fixed bottom :right="true" fab color="primary" router
                   :to="{name: 'newCoupon'}">
                <v-icon>+</v-icon>
            </v-btn>
        </v-fab-transition>
    </v-container>
</template>

<script>
    import AccountService from "../../services/account";
    import {store} from "../../store"

    export default {
        data: function () {
            return {
                loading: true,
                items: [],
                headers: [
                    {
                        text: "Amount",
                        align: 'justify',
                        sortable: true,
                        value: 'amount'
                    },
                    {
                        text: "Type",
                        align: 'justify',
                        sortable: true,
                        value: 'type'
                    },
                    {
                        text: "At",
                        align: 'center',
                        sortable: true,
                        value: 'created_at'
                    },
                    {
                        text: "description",
                        align: 'center',
                        sortable: true,
                        value: 'description'
                    },
                ],
            }
        },

        async mounted() {
            this.loading = true
            let account = store.state.loginInfo;
            this.items = await AccountService.listTransactions(account['id'])
            this.loading = false
        }
    }
</script>
