<template>
    <v-app id="inspire">
        <v-navigation-drawer
            v-model="drawer"
            app
            clipped
        >
            <v-list dense>
                <template v-for="(item, i) in items">
                    <template v-if="item.type === 'header'">
                        <v-subheader :key="`subheader-${i}`">
                            {{item.title }}
                        </v-subheader>
                    </template>

                    <v-list-group v-if="item.type === 'group'" :prepend-icon="item.icon" :key="`group-${i}`">
                        <template v-slot:activator>
                            <v-list-item-content>
                                <v-list-item-title>{{ item.title}}</v-list-item-title>
                            </v-list-item-content>
                        </template>

                        <template v-for="(subItem, j) in item.children" >
                            <v-list-item v-if="subItem.type === 'item'" :key="`sub-item-${j}`" :to="subItem.to">
                                <v-list-item-icon>
                                    <v-icon>{{ subItem.icon }}</v-icon>
                                </v-list-item-icon>
                                <v-list-item-content>
                                    <v-list-item-title>{{subItem.title}}
                                    </v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </template>
                    </v-list-group>

                    <v-list-item v-if="item.type === 'item'" :key="`item-${i}`" :to="item.to" >
                        <v-list-item-icon>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title class="text-xs-justify">{{
                                item.title
                                }}
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </template>

            </v-list>
        </v-navigation-drawer>

        <v-app-bar
            app
            clipped-left
        >

            <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
            <v-toolbar-title>Challenge</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn  v-if="isLogin" :to="{name: 'ListTransactions'}"  class="ma-2">
                {{balance}}
            </v-btn>
        </v-app-bar>

        <v-main>
            <v-container
                fluid
            >
                <v-snackbar
                    v-model="snackbar"
                    :color="snackMessage ? snackMessage.color || null : null"
                    :multi-line="snackMessage ? snackMessage.description || false : false"
                    :timeout="snackMessage ? snackMessage.timeout || 5000 : 5000"
                >
                    <v-icon dark>{{snackMessage ? snackMessage.icon || '': ''}}</v-icon>
                    <span class="px-2">{{snackMessage ? snackMessage.title : ''}}</span>
                    <v-btn icon @click="setShowSnackbar(false)">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                </v-snackbar>

                <router-view></router-view>
            </v-container>
        </v-main>

        <v-footer app>
            <span>&copy; 2020</span>
        </v-footer>
    </v-app>
</template>

<script>
    import { mapActions, mapState, mapGetters } from 'vuex';
    export default {
        props: {
            source: String,
        },
        data: () => ({
            drawer: null,
            mini: false,
            items: [
                {
                    type: 'item',
                    icon: 'mdi-code-string',
                    title: 'Coupon',
                    to: {name: 'couponList'},
                },
                {
                    type: 'item',
                    icon: 'mdi-wallet-membership',
                    title: 'Redeem',
                    to: {name: 'redeemCoupon'},
                }
            ],
        }),
        created() {
            this.$vuetify.theme.dark = true
        },
        computed: {
            ...mapState(['isLogin', 'balance', 'loginInfo']),
            ...mapGetters(['snackMessage']),
            snackbar: {
                set: function (val) {
                    this.setShowSnackbar(val)
                },
                get: function () {
                    return this.snackMessage
                }
            }
        },
        methods: {
            ...mapActions(['setShowSnackbar'])
        }

    }
</script>
